.item__detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e5e5e5;
    padding-top: 8rem;
    padding-bottom: 8rem;
}


@media screen and (min-width: 768px) {
    .item__detail-container {
        flex-direction: row;
        gap: 3rem;
    }

    .item__detail-container img {
        width: 500px;
    }

    .item__price-and-title h2 {
        font-size: 20px;
    }
}