.item__img{
    width: 300px;
}

.item__price-and-title{
    margin-top: 4rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;

}

.item__select-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item__select-container p{
    color: #000;
    font-size: 15px;
}

.item__select{
    height: 40px;
    width:  50px;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background-color: #FF5617;
    color: #fff;
    transition: all .4s;
}


.item__select:hover{
    box-shadow: 3px 3px 3px -1px rgba(255, 86, 23,0.75);
}

.item__stock{
    color: #000;
    font-size: 15px;
}

.item__select option {
    font-weight: 600;
}

.active{
   background-color: #000;
}


.item__price-and-title h2{
    font-size: 15px;
 
 }

.item__add-button{
    border: none;
    padding: 15px;
    background-color: #FF5617;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 250px;
    transition: all .5s;
}

.item__add-button:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.item__description{
    color: #000;
    text-align: left;
    width: 250px;
}


.terminar__compra{
    background: #FF5617;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    transition: all .5s;
    text-align: center;
}

.terminar__compra:hover{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}